a {
    text-decoration: none;
}


.sb-nav-link-icon {
    width: 20px; /* Sesuaikan width agar ikon punya ukuran yang sama */
    display: inline-block;
    text-align: center;
}

.card{
    border: none;
    border-radius: 20px;
}
.card-header{
   border-bottom:none;
    background: none; 
}
